.main {
color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(232, 159, 214));
background: linear-gradient(to right, rgba(150, 46, 199), rgba(232, 159, 214))

}

.container-fluid {
padding-left: 200px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 150px;
display: inline-block;
font-size: 40px;
color:white;
font-weight: 700;
text-shadow: 1px 2px 2px rgb(92, 89, 94);
}

.background {
text-align: center;
color: white;
}

.navbar {
background-color: rgb(232, 159, 214);
}

.carousel-item {
    height: 500px;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h5 {
    -webkit-text-stroke: .5px black;
    font-size: 35px;
}

h4 {
    padding-top: 15px;
}

p {
-webkit-text-stroke: 1px rgb(232, 159, 214);
color: white;
font-size: 20px
}

.img1 {
height: 300px;
width: 300px;
border-radius: 20%;
cursor: pointer;

}
.footer {
    background-color: rgb(150, 46, 199);
    color: rgb(232, 159, 214);
    padding-left: 10px;
    padding-right: 5px;

}

.card-img-top {
    height: 295px;
    width: 295px;
}

.card-title {
    color: rgb(150, 46, 199);
}


.contact-form {
    color: rgb(150, 46, 199);
    -webkit-text-stroke: .5px black;
}

.form-group {
    color: white;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    border-style: solid;
    border-radius: 25px;
    border-style: initial;
}

.main-form-group {
margin: 80px;
}

.gradient-custom {
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(232, 159, 214));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(150, 46, 199), rgba(232, 159, 214))
}

.order-form { 
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(232, 159, 214));
background: linear-gradient(to right, rgba(150, 46, 199), rgba(232, 159, 214));
color: rgb(150, 46, 199)
}

.home-page {
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(232, 159, 214));
background: linear-gradient(to right, rgba(150, 46, 199), rgba(232, 159, 214))
}

.list-group-item {
    color: rgb(150, 46, 199);
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;

}