.main {
color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.container-fluid {
padding-left: 200px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 150px;
display: inline-block;
font-size: 40px;
color:rgb(150, 46, 199);
font-weight: 700;
text-shadow: 1px 2px 2px rgb(92, 89, 94);
background-color:rgb(244, 242, 242);
}

.background {
background-color: rgb(150, 46, 199);
text-align: center;
color: white;
}

.navbar {
background-color: rgb(232, 159, 214);
}

.carousel-item {
    height: 500px;
}

h1 {
    color: rgb(150, 46, 199);
}

h5 {
    -webkit-text-stroke: .5px black;
    font-size: 35px;
}

p {
-webkit-text-stroke: 1px rgb(232, 159, 214);
font-size: 20px
}

.img1 {
height: 300px;
width: 300px;
border-radius: 20%;

}
.footer {
    background-color: rgb(150, 46, 199);
    color: rgb(232, 159, 214);
}

.card-img-top {
    height: 295px;
    width: 295px;
}

.card-title {
    color: rgb(150, 46, 199);
}